* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Gabarito", sans-serif;


}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    color: #bd08bd;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s3 p:hover{
    color: goldenrod;
    transform: scale(1.05);
}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border: solid black 1px;
}

.categories p {
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
.categories p:hover{
    transform: scale(1.05);
    background-color: #bd08bd;
}

.sale-image img {
    width: 100%;
}

.sale-image__box {
    padding: 10px;
    width: 100px;

    background-color: black;
    color: white;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;


}

.course-card {
    width: 300px;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;
}
.topics__container p:hover{
    transform: scale(1.05);
    background-color: #bd08bd;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one p {
    margin: 20px;
}
.footer__one p:hover{
    color: #bd08bd;
    transform: scale(1.05);
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer__two p:hover{
    color: #bd08bd;
    transform: scale(1.05);
}