* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Gabarito", sans-serif;


}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    flex-basis: 10%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.navbar__s1__title {
    color: #bd08bd;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;


}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
    background-color: #f7f7f7;
    border-color: #a5a5a5;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* my Learning popup*/

.mylearning {
    position: relative;
    cursor: pointer;

}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
    border-radius: 20px;
}

.mylearning:hover .mylearning__popup {
    display: block;

}



.navbar__s3 i:hover,
.navbar__s3 p:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px #A435f0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;


}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border: solid black 1px;
}

.categories p {
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;
    padding: 10px;
    transition: transfrom 0.3s ease;
    box-shadow: 0.3s ease;
    flex-wrap: wrap;


}

.categories p:hover {
    transform: translateY(-5px);
    background-color: #bd08bd;
    box-shadow: 0 8px 20px #A435f0;
}

.sale-image img {
    width: 100%;
}

.sale-image {
    position: relative;

}

.sale-image__offer {
    width: 35%;
    padding: 2%;
    border: #A435f0 solid 5px;
    background-color: rgb(10, 10, 10);
    position: absolute;
    color: white;
    top: 30%;
    left: 10%;
    border-radius: 50px;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}





.recommended {
    padding: 10px;
    padding-bottom: 20px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;


}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    background: whitesmoke;
    margin: 5px;
    transition: transform 0.10s ease;
    box-shadow: 0.10s ease;

}

.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;
    text-align: center;

}

.topics__container p:hover {
    transform: scale(1.05);
    background-color: #bd08bd;
    box-shadow: 0 20px 40px rgb(59, 51, 57);
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one p {
    margin: 20px;
}

.footer__one p:hover {
    color: #bd08bd;
    transform: scale(1.05);
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__two p:hover {
    color: #bd08bd;
    transform: scale(1.05);
}

.buy-btn {
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.buy-btn:hover {

    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 47)
}

/* Media Queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }

}

@media screen and (max-width:500px) {
    .course-card {
        flex-basis: 40%;
    }

}