* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Gabarito", sans-serif;


}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    flex-basis: 10%;
}

.navbar__s1__title {
    color: #bd08bd;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s2 input:focus {
    outline: none;
    background-color: #f7f7f7;
    border-color: #a5a5a5;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s3 p {
    display: flex;
    padding: 8px 12px;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar__s3 p:hover,
.navbar__s3 i:hover {
    color: goldenrod;
    transform: scale(1.05);
    box-sizing: 0 4px 12px rgba(164, 53, 240, 0.4);
    box-shadow: 0 6px 15px #A435f0;
    padding: 10px;
    border-radius: 10px;
}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border: solid black 1px;
}

.categories p {
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;
    padding: 10px;
    transition: transfrom 0.3s ease;
    box-shadow: 0.3s ease;
    flex-wrap: wrap;

}

.categories p:hover {
    transform: translateY(-5px);
    background-color: #bd08bd;
    box-shadow: 0 8px 20px #A435f0;
}

.sale-image img {
    width: 100%;
}

.sale-image {
    position: relative;
    width: 100%;
}

.sale-img {
    width: 100%;
    height: auto;
    display: flex;
}


.sale-box:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 18);
}

.sale-image__box {
    padding: 10px;
    width: 100px;

    background-color: black;
    color: white;
}

.recommended {
    padding: 10px;
    padding-bottom: 20px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;


}

.course-card {
    width: 300px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.10s ease;
    box-shadow: 0.10s ease;
}

.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    background-color: #bd08bd;
    color: white;
    border-radius: 30px;

}

.topics__container p:hover {
    transform: scale(1.05);
    background-color: #bd08bd;
    box-shadow: 0 20px 40px rgb(59, 51, 57);
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one p {
    margin: 20px;
}

.footer__one p:hover {
    color: #bd08bd;
    transform: scale(1.05);
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__two p:hover {
    color: #bd08bd;
    transform: scale(1.05);
}

.buy-btn {
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.buy-btn:hover {

    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 47)
}
